@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --header-height: 50px;
  --footer-height: 100px;
  --main-padding-top-bottom-desktop: 50px;
  --main-padding-left-right-desktop: 50px;
  --main-padding-top-bottom-mobile: 50px;
  --main-padding-left-right-mobile: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: 'white';
}

header {
  width: 100%;
  height: var(--header-height) !important;
  background-color: 'white';
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1207px;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  padding: var(--main-padding-top-bottom-mobile)
    var(--main-padding-left-right-mobile);
}

footer {
  width: 100%;
  height: var(--footer-height);
  background-color: 'white';
}

header p,
main p,
footer p {
  font-family: var(--font-darkerGrotesqueFont), var(--font-spaceGrotesqueFont),
    sans-serif !important;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: white;
}

@media (min-width: 600px) {
  main {
    padding: var(--main-padding-top-bottom-desktop)
      var(--main-padding-left-right-desktop);
  }
}
