:root {
  --header-height: 50px;
  --footer-height: 100px;
  --main-padding-top-bottom-desktop: 100px;
  --main-padding-left-right-desktop: 50px;
  --main-padding-top-bottom-mobile: 50px;
  --main-padding-left-right-mobile: 14px;
  --font-openSans: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: var(--font-openSans), sans-serif !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: 'white';
}

header {
  width: 100%;
  height: var(--header-height) !important;
  background-color: 'white';
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1121px;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  padding: var(--main-padding-top-bottom-mobile)
    var(--main-padding-left-right-mobile);
}

footer {
  width: 100%;
  height: var(--footer-height);
  background-color: 'white';
}

header p,
main p,
footer p {
  font-family: var(--font-openSans), sans-serif !important;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: white;
}

@media (min-width: 600px) {
  main {
    padding: var(--main-padding-top-bottom-desktop)
      var(--main-padding-left-right-desktop);
  }
}
